@tailwind base;
@tailwind components;
@tailwind utilities;

.dark-mode {
 background: #000;
    color: #fff;
}

.dark-mode h1 {
    color: yellow;
}

/* ABOUT PAGE */
.dark-mode .about-page {
    background: black;
  }

.dark-mode .about-page ul {
    color: white;
    background: black;
  }

.dark-mode .about-page h2 {
    color: white;   
  }

.dark-mode .about-page .title {
    color: yellow;
  }

.dark-mode .about-page .dark-expand {
    color: blue;
  }

.dark-mode .about-page .dark-collapse {
    color: red;
  }
  
/* PROJECT PAGE */
.dark-mode .projects-page { 
    color: white;
    background: black;
}

.dark-mode .projects-page h2 {
    color: white;
}

.dark-mode .projects-page .hyperlinks {
    color: blue;
}

/* CONTACT PAGE */

.dark-mode .contact-page { 
    color: white;
    background: black;
}

.dark-mode .contact-page h2 { 
    color: white;
}

.dark-mode .contact-page label { 
    color: yellow;
}

.dark-mode .contact-page button { 
    color: black;
    background: white;
}

.dark-mode .contact-page button:hover {
    background:blue;
    color: white;
}

/* WORK EXPERIENCE PAGE */
.dark-mode .workexperience-page { 
    color: yellow;
    background: black;
}

.dark-mode .work_experience_details {
    color: white;
}

.dark-mode .work_experience_expand {
    color: blue;
}

.dark-mode .work_experience_collapse {
    color: red;
}

/* URL LINKS */
.dark-mode .darkURL-links {
    color: blue;
}

/* FOOTER */
.dark-mode .dark-footer {
    color: yellow;
}

/* SOCIAL MEDIA ICONS */
.dark-mode .dark-social{
    color: blue;
}

