@tailwind base;
@tailwind components;
@tailwind utilities;

.dark-mode {
 background: #000;
    color: #fff;
}

.dark-mode h1 {
    color: blue;
}

/* ABOUT PAGE */
.dark-mode .about-page {
    background: black;
  }

.dark-mode .about-page ul {
    color: white;
    background: black;
  }

.dark-mode .about-page h2 {
    color: white;   
  }

.dark-mode .about-page .span-title {
    color: blue;
  }

/* PROJECT PAGE */
.dark-mode .projects-page { 
    color: white;
    background: black;
}

.dark-mode .projects-page h2 {
    color: white;
}

.dark-mode .projects-page .hyperlinks {
    color: blue;
}

.dark-mode .socials {
    color: blue;
}


